:root{
  --small: 5px;
  --medium: 10px;
  --large: 25px;

  --white: white;
  --blue: blue;
  --lightblue: rgb(0, 132, 255);
  
  --bodyBackground: darkblue;
  --button-background: #00bcd454;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bodyBackground);
}

a {
  text-decoration: none;
  background: var(--white);
  padding: var(--small);
}

header {
  color: var(--white);
  text-align: center;
  padding: var(--large);
}

main {
  display: flex;
}

aside{
  margin-top: var(--large);
  margin-left: var(--large);
}

a:visited {
  color: var(--blue);;
}

a:active {
  color: var(--lightblue);
}
button{
    background-color: var(--button-background);
    border: none;
    padding: var(--small);
    color: var(--white);
    cursor: pointer;
    margin-right: var(--small);
}

#chart-area {
  width: 70%;
}

.stat {
  margin-top: var(--medium);
}

.stat span {
  margin-left: var(--medium);
}
