@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --small: 5px;
  --medium: 10px;
  --large: 25px;

  --white: white;
  --blue: blue;
  --lightblue: rgb(0, 132, 255);

  --bodyBackground: darkblue;
  --button-background: #00bcd454;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bodyBackground);
}

a {
  text-decoration: none;
  background: var(--white);
  padding: var(--small);
}

header {
  color: var(--white);
  text-align: center;
  padding: var(--large);
}

main {
  display: flex;
  justify-content: center;
}

aside {
  margin-top: calc(var(--large));
  margin-left: calc(var(--large) * 4);
}

a:visited {
  color: var(--blue);
}

a:active {
  color: var(--lightblue);
}
button {
  background-color: var(--button-background);
  border: none;
  padding: var(--small);
  color: var(--white);
  cursor: pointer;
  margin-right: var(--small);
}
#profile {
  color: var(--white);
  margin-top: var(--large);
  font-family: "Roboto", sans-serif;
  text-align: justify;
}

#chart-area {
  width: 70%;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.stat {
  margin-top: var(--medium);
}

.stat span {
  margin-left: var(--medium);
}
.btn-group{
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  color: var(--white);
}

.red,
.green {
  display: inline-block;
  width: var(--medium);
  height: var(--medium);
  border-radius: 50%;
  border: 1px solid white;
  margin-right: var(--small);
  margin-left: var(--medium);
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
